.container {
  background-color: #0a0a0a;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
}

.spinnerArea {
  height: 40px;
  align-items: center;
  justify-content: center;
}
